/* ヘッダー部分 */
* {
    font-size: 1.2rem;
    padding:0;
    margin:0;
}
body {
    width:100%;
    background-color: #e6e6e6;
}
li{
    list-style:none;
}
a {
    text-decoration:none;
    color:#000000;
}
button {
    width: 150px;
}
header {
    margin-bottom:1.5rem;
    background-color:#33FFCC;
    padding: 10px;
}
.header_title {
    display:flex;
    padding:1rem;
    font-size: 2.5rem;
    height: 10px;
    color:#000000;
}
.header_right {
    display:flex;
    justify-content:flex-end;
    margin-right:0.5rem;
}
.header_right li {
    flex: 0.03 0 auto;
    font-size: 1.2rem;
}
.logout{
    background-color:#33FFCC;
    color:#e60000;
}
/* ここまでヘッダー */

/* 戻るボタン */
.back {
    margin-left:2rem;
}
.browseBack{
    background-color:#e6e6e6;
}

.header_right p {
    padding:0.8rem;
}

.list_wrapper_title {
    width:80%;
    font-size: 1.7rem;
    margin: 1rem auto;
}

.list_wrapper{
    width: 80%;
    margin: 0 auto;
}

.list_wrapper_search {
width: 100%;
}

.list_wrapper_empty {
    width:100%;
    height:3rem;
    background-color:#33FFCC;
    margin-bottom:2rem;
}

.list_wrapper_header{
    display:flex;
    margin-bottom: 3.5rem;
    max-width: 100%
}

.list_header_items {
    display:flex;
    width: 100%;
}

.emp_name_search{
display: inline-block;
    width: 15em;
    padding: 1.5em;
    margin: 0.5em 0;
    height:1rem;
}

.department_list{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em 0em 0.5em;
}

.join_list{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0em;
}

.birthday_search{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em 0em 0em;
}

.searchButton {
width: 5em;
height: 2.5em;
 margin: 0.5em 0em;
 }

.skillList {
    position: absolute;
    background-color: #098;
}

.skillList li {
    display: none;
    width:10rem;
    height:2.2rem;
    padding:0 6rem
    border-bottom: 1px solid white;
}

.skillCheckbox {
    opacity: 0;
    position: relative;
    display:none;
}

.skillLabel{
    display: block;
    background-color: #098;
    margin-top:11.5px;
    padding: 0.6rem 6rem;
    border: 1px solid black;
}

#skillCheckLabel:checked + .skillList li {
    display: block;
}

table {
width: 100%;
text-align: center;
}

.list_wrapper_label {
    margin-bottom:1rem;
}

th {
background: #33FFCC;
}

.list_wrapper_items {
    justify-content: space-between;
    margin-bottom:1rem;
}

.list_wrapper_items {
    padding:0 1.5rem;
}

.list_wrapper_numbers {
    text-align:center;
}

.page-nation_button {
    width:100%;
    display:flex;
    justify-content:center;
}

.left_button{
    padding:0.5rem;
}

.right_button{
    padding:0.5rem;
}

.project_name_add{
display: inline-block;
    width: 25em;
   padding: 1.5em;
   margin: 0.5em 0;
   height:1rem;
   float:left;
}

.add_button{
    background-color: #33FFCC;
    margin-top: 11.5px;
    padding: 0.6rem 6rem;
    border: 1px solid black;
    width: 13em;
    height:4rem;
}