/* ヘッダー部分 */
* {
    font-size: 1.2rem;
    padding:0;
    margin:0;
}
body {
    width:100%;
    background-color: #e6e6e6;
}
li{
    list-style:none;
}
a {
    text-decoration:none;
    color:#000000;
}
button {
    width: 150px;
}
header {
    margin-bottom:1.5rem;
    background-color:#33FFCC;
    padding: 10px;
}
.header_title {
    display:flex;
    padding:1rem;
    font-size: 2.5rem;
    height: 10px;
    color:#000000;
}
.header_right {
    display:flex;
    justify-content:flex-end;
    margin-right:0.5rem;
}
.header_right li {
    flex: 0.03 0 auto;
    font-size: 1.2rem;
}
.logout{
    background-color:#33FFCC;
    color:#e60000;
}
/* ここまでヘッダー */

/* 戻るボタン */
.back {
    margin-left:2rem;
}
.browseBack{
    background-color:#e6e6e6;
}
/* 保存ボタン */
.keep {
    margin-left : 90%;
    justify-content:flex-end;
    background-color:#6495ed;
    width: 150px;
}
/* 業務経歴書の部分 */
.careerSheet {
    margin : 30px;
    padding : 30px;
    background-color: #ffffff;
}
.sheetHead {
    font-size: 2rem;
    text-align:center;
}
table {
    margin-left: auto;
    margin-right: auto;
    width:80%
}
th{
    width:100px;
    text-align:center;
    font-size:1.1rem;
    white-space:nowrap
}
td{
    width:100px;
    font-size:1rem;
}

.level{
    text-align:center;
}

.project{
    width:100px;
    font-size:1.5rem;
}

/* システム詳細入力フォームの横幅設定 */
.system {
    width:1285px;
    overflow-wrap: anywhere
}