* {
    font-size: 1.2rem;
    padding:0;
    margin:0;
}

body {
    width:100%;
    margin: 1.5rem auto;
}

li{
    list-style:none;
}

a {
    text-decoration:none;
}

header {
    margin-bottom:1.5rem;
}

.header_title {
    display:flex;
    padding:1rem;
    font-size: 2.5rem;
     background-color:#33FFCC;
     margin-bottom:0.5rem;
}

.header_right {
    display:flex;
    justify-content:flex-end;
    margin-right:0.5rem;
}

.header_right p {
    padding:0.8rem;
}

.list_wrapper_title {
    width:80%;
    font-size: 1.7rem;
    margin: 1rem auto;
}

.list_wrapper{
    width: 80%;
    margin: 0 auto;
}

.list_wrapper_empty {
    width:100%;
    height:3rem;
    background-color:#33FFCC;
    margin-bottom:2rem;
}

.list_wrapper_header{
    display:flex;
    margin-bottom: 3.5rem;
    max-width: 100%
}

.list_header_items {
    display:flex;
    width: 100%;
}

.emp_name_search{
display: inline-block;
    width: 15em;
    padding: 1.5em;
    margin: 0.5em 0;
    height:1rem;
}

.department_list{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em;
}

.join_list{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em;
}

.birthday_search{
width: 100%;
height: 2.5em;
padding: 0.5em;
    margin: 0.5em 0.5em;
}

.searchButton {
width: 5em;
height: 2.5em;
 margin: 0.5em 0em;
 }

.skillList {
    position: absolute;
    background-color: #098;
}

.skillList li {
    display: none;
    width:10rem;
    height:2.2rem;
    border-bottom: 1px solid white;
}

.skillCheckbox {
    opacity: 0;
    position: relative;
    display:none;
}

.skillLabel{
    display: block;
    background-color: #098;
    margin-top:11.5px;
    padding: 0.6rem 4rem;
    border: 1px solid black;
}

#skillCheckLabel:checked + .skillList li {
    display: block;
}

.list_wrapper_label {
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color:#33FFCC;
    margin-bottom:1rem;
}

.list_wrapper_label li{

    padding:0 1.5rem;
}

.list_wrapper_items {
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

.list_wrapper_items {
    padding:0 1.5rem;
}

.list_wrapper_numbers {
    text-align:center;
}

.page-nation_button {
    width:100%;
    display:flex;
    justify-content:center;
}

.left_button{
    padding:0.5rem;
}

.right_button{
    padding:0.5rem;
}

