* {
    font-size: 1.2rem;
    padding:0;
    margin:0;
}

body {
    width:100%;
    margin: 1.5rem auto;
}

li{
    list-style:none;
}

a {
    text-decoration:none;
}

header {
    margin-bottom:1.5rem;
}

.header_title {
    display:flex;
    padding:1rem;
    font-size: 2.5rem;
     background-color:#33FFCC;
     margin-bottom:0.5rem;
}

.header_right {
    display:flex;
    justify-content:flex-end;
    margin-right:0.5rem;
}

.header_right p {
    padding:0.8rem;
}

.list_wrapper_title {
    width:80%;
    font-size: 1.7rem;
    margin: 1rem auto;
}

.list_wrapper{
    width: 80%;
    margin: 0 auto;
}

.list_wrapper_empty {
    width:100%;
    height:3rem;
    background-color:#33FFCC;
    margin-bottom:2rem;
}

.list_wrapper_header{
    display:flex;
    margin-bottom: 3.5rem;
}

.list_header_items {
    display:flex;
    margin: 0 0.2rem;
}

.skillList input {
    display: none;
}

.skillList ul {
    background :#f4f4f4;
    list-style: none;
}

.skillList li {
    height: 0;
    overflow: hidden;
}

/* アコーディオンメニューの作成 */
.skillButton:checked ~ .skillList{
    height: 54px;
    opacity: 1;
}

.list_wrapper_label {
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color:#33FFCC;
    margin-bottom:1rem;
}

.list_wrapper_label li{

    padding:0 1.5rem;
}

.list_wrapper_items {
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

.list_wrapper_items {
    padding:0 1.5rem;
}

.list_wrapper_numbers {
    text-align:center;
}

.page-nation_button {
    width:100%;
    display:flex;
    justify-content:center;
}

.left_button{
    padding:0.5rem;
}

.right_button{
    padding:0.5rem;
}

