/* ここから全ページ共通 */
/* ヘッダー部分 */
* {
    font-size: 1.2rem;
    padding:0;
    margin:0;
}
body {
    width:100%;
    background-color: #f9f9f9;

}
li{
    list-style:none;
}
a {
    text-decoration:none;
    color:#000000;
}
button {
    width: 120px;
}
header {
    margin-bottom:1.5rem;
    background-color:#33FFCC;
    padding: 10px;
}
.header_title {
    display:flex;
    padding:1rem;
    font-size: 2.5rem;
    height: 10px;
    color:#000000;
}
.header_right {
    display:flex;
    justify-content:flex-end;
    margin-right:0.5rem;
}
.header_right li {
    flex: 0.04 0 auto;
    font-size: 1.2rem;
}
.header_right li:hover {
    cursor:pointer;
    opacity: 0.5;
}

.logout{
    background-color:#33FFCC;
    color:#e60000;
}
/* ここまでヘッダー */

/* 戻るボタン */
.back {
    margin-left:2rem;
}
.browseBack{
    background-color:#e6e6e6;
}
.browseBack:hover{
    opacity: 0.5;
    pointer:cursor;
}
/* ここまで全ページ共通 */

/* ここから一覧ページ */
/* 一覧画面見出し */
.list_wrapper_title {
    width:80%;
    font-size: 1.7rem;
    margin: 1rem auto;
}
/* 一覧画面部分 */
.list_wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-bottom:5rem;
    margin-bottom: 5rem;
}

.list_wrapper_search {
width: 100%;
}

/* 一覧画面って見出しの下にある緑色の長方形部分 */
.list_wrapper_empty {
    width:100%;
    height:3rem;
    background-color:#33FFCC;
    margin-bottom:2rem;
}

/* 検索の部分 */
.list_wrapper_header{
    display:flex;
    margin-bottom: 3.5rem;
    max-width: 100%;
    justify-content:center;
}

.list_col input[type="submit"] {
  color: #35caa4;
  border: none;
  background: transparent;
}

.list_col input[type="submit"]:hover{
  border: none;
  background: transparent;
  opacity: 0.5;
  cursor:pointer;
}

/* 検索部分の選択項目など */
.list_header_items {
    display:flex;
    width: 100%;
    height: 3rem;
    margin-right:2rem;
}

/* 社員名検索フォーム */
.emp_name_search{

}
/* 所属部署 */
.department_list{

}
/* 入社年月 */
.join_list{

}

/* 誕生日検索 */
.birthday_search{

}

.searchButton{
    width:2.3rem;
}

/* 技術リスト */
.skillList {
    position: absolute;
    background-color: #098;
}
.skillList li {
    display: none;
    width:10rem;
    height:2.2rem;
    padding:0 6rem
    border-bottom: 1px solid white;
}
.skillCheckbox {
    opacity: 0;
    position: relative;
    display:none;
}
.skillLabel{
    display: block;
    background-color: #098;
    margin-top:11.5px;
    padding: 0.5rem 5rem;
    border: 1px solid black;
}
#skillCheckLabel:checked + .skillList li {
    display: block;
}
/* ここまで技術リスト関連 */

/*　一覧テーブル */
table {
border-collapse: collapse;
width: 100%;
text-align: center;
}

/* テーブルのラベル部分 */
.list_wrapper_label {
    margin-bottom:1rem;
}
/* テーブルヘッダー部分 */
.list_row{
background: #33FFCC;

}
/* テーブル要素格納セル部分 */
.list_col{
    text-align:center;
}
/* DBから持ってくる項目たち */
.list_wrapper_items {
    justify-content: space-between;
    margin-bottom:1rem;
}
.list_wrapper_items {
    padding:0 1.5rem;
}
/* ここまで一覧テーブル */

/* 一覧ページの番号 */
.list_wrapper_numbers {
    text-align:center;
}

/* ページネーションボタン */
.page-nation_button {
    width:100%;
    display:flex;
    justify-content:center;
}
/* 前へボタン */
.left_button{
    padding:0.5rem;
}
/* 次へボタン */
.right_button{
    padding:0.5rem;
}
/* ここまでページネーションボタン */

/* プロジェクト名?なにこれ */
.project_name_add{
display: inline-block;
    width: 25em;
   padding: 1.5em;
   margin: 0.5em 0;
   height:1rem;
   float:left;
}
/* なにかのボタン？なにこれ */
.add_button{
    background-color: #33FFCC;
    margin-top: 11.5px;
    padding: 0.6rem 6rem;
    border: 1px solid black;
    width: 13em;
    height:4rem;
}

/* ここまで一覧ページ */

/* ここから業務経歴書閲覧画面ページ　*/
/* 編集ボタンとPDF化ボタンの部分 */
.option {
    display:flex;
    justify-content:flex-end;
    margin-right:0.8rem;
}
.option li {
    flex: 0.01 0 auto;
}
.edit{
    background-color:#e6e6e6;
}
.pdf {
    background-color:#ff6347;
}
/* 業務経歴書の部分 */
.careerSheet {
    margin : 30px;
    padding : 30px;
    background-color: #ffffff;
}
.sheetHead {
    font-size: 2rem;
    text-align:center;
}
table {
    margin-left: auto;
    margin-right: auto;
    width:80%
}
th{
    width:100px;
    text-align:center;
    font-size:1.1rem;
    white-space:nowrap
}
td{
    text-align:left;
    width:100px;
    font-size:1rem;
}
.level{
    text-align:center;
}

.project{
    width:100px;
    font-size:1.5rem;
}

.os_script_db_show{
width:100%;
display:flex;
justify-content: center;
}

/* ここまで業務経歴書閲覧画面ページ */

/* ここから業務経歴書編集画面ページ */
/* 保存ボタン */
.keep {
    margin-left : 90%;
    justify-content:flex-end;
    background-color:#6495ed;
    width: 150px;
}
/* 業務経歴書の部分 */
.careerSheet {
    margin : 30px;
    padding : 30px;
    background-color: #ffffff;
}
.sheetHead {
    font-size: 2rem;
    text-align:center;
}

/* システム詳細入力フォームの横幅設定 */
.system {
    width:1285px;
    overflow-wrap: anywhere
}
/* ここまで業務経歴書編集画面ページ */

/* ここから管理画面ページ */
/* 管理者画面の部分 */
.admin_wrapper {
width: 50%;
margin:  1rem auto;
font-size: 1.7rem;
background-color: white;
}

.admin_title{
padding: 0.5em 1em;
background-color: #33FFCC;
font-size: 1.5rem
}

/*管理画面項目ボタン*/
.admin_item{
width: 60%;
display: inline-block;
background-color: #white;
margin: 0.8em 20%;
padding: 0.5em;
font-size: 1.5em;
}
/* ここまで管理画面ページ */

/* 技術チェック編集画面 */
.skillCheck_wrapper {
width: 80%;
margin:  1rem auto;
font-size: 1.7rem;
background-color: white;
}
.skillCheck_title{
padding: 0.5em 1em;
background-color: #33FFCC;
font-size: 1.5rem
}
.skill_wrapper_empty {
    height:2rem;
}

/*管理者権限画面*/
.admin_authorize_wrapper {
width: 70%;
margin:  1rem auto;
font-size: 1.7rem;
background-color: white;
}

.admin_authorize_title{
padding: 0.5em 1em;
background-color: #33FFCC;
font-size: 1.5rem
}

.admin_authorize_wrapper th{
background-color: #33FFCC;
}

.admin_authorize_wrapper table{
width: 50%;
}

.admin_authorize_wrapper table{
margin: 1em 25%;
text-align: center;
border-collapse: collapse;
}

.admin_authorize_search_col, .admin_authorize_delete_col{
border:1px solid;
margin: 1em 25%;
text-align: center;
}

.admin_authorize_search_row, .admin_authorize_delete_row{
border:1px solid;
margin: 1em 25%;
text-align: center;
}

.admin_authorize_delete_button{
border: 0.3px solid #333;
background-color: red;
}

.admin_authorize_add_button{
border: 0.3px solid #333;
background-color: #33FFCC;
}

.admin_authorize_search_form {
text-align: center;
}

.admin_authorize_search{
text-align: center;
height: 2.5em;
width: 30%;
}

.admin_authorize_search_button {
height: 2.5em;
width: 10%;
background: #33FFCC;
border: 0.3px solid #333;
}
/*管理者権限画面ここまで*/

/* テーブル関連 */
.os_script_db{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
.skill_table{
width:400px;
}
.skill_name{
width:400px;
background-color:#99ffdd;
}
.skill_data{
text-align:center;
}
.skill_edit_delete{
width:1%;
}
/* 編集ボタン */
.skill_edit_button{
width: 70px;
background-color:#a9a9a9;
}
/* 削除ボタン */
.skill_delete_button{
width: 70px;
background-color:#e61739;
}
/* 技術項目追加 */
.skill_add{
display:flex;
margin: 0 auto 0 auto;
width: 780px;
padding: 10px;

}
/* 技術項目追加の項目 */
.skill_add_item{
margin:5px;
}
.skill_add_name{
padding:15px;
}
/* 技術項目選択プルダウンメニュー部分 */
.skill_select{
padding:15px;
}
/* 追加ボタン */
.skill_add_button {
width: 100px;
padding:10px;
background-color:#99ffdd;
}

/* プロジェクト追加・編集・削除画面CSS */
.project_update_wrapper {
width: 80%;
margin:  1rem auto;
font-size: 1.7rem;
background-color: white;
}
.project_update_title{
padding: 0.5em 1em;
background-color: #33FFCC;
font-size: 1.5rem
}
.project_update_empty {
height:2rem;
}
/* 企業名とプロジェクト名と編集ボタンと削除ボタンが格納されたテーブル */
.company_project_name_and_edit_and_delete_button_table{
width:600px;
table-layout:fixed;
border-collapse: collapse;
}
/* <th>タグ */
.company_name{
background-color:#99ffdd;
width:10px;
border: solid 1px;
}
.project_name{
background-color:#99ffdd;
width:10px;
border: solid 1px;
}
/* 見えない<th>タグ(ボタン用thタグ) */
.stealth{
color:white;
width:11%;
}
/* <td>タグ */
.company_and_project_name{
text-align:center;
border: solid 1px;
}
.company_project_edit_delete{
text-align:center;
width:1%;
}
/* 編集ボタン */
.company_project_edit_button{
width: 70px;
background-color:#a9a9a9;

}
/* 削除ボタン */
.company_project_delete_button{
width: 70px;
background-color:#e61739;
}
/* 企業名入力とプロジェクト名入力と追加ボタン */
.input_name_and_addButton{
display:flex;
margin: 0 auto 0 auto;
width: 650px;
padding: 10px;
/*border: solid 1px;*/
}
.company_project_addButton_margin{
margin:5px;
}
/* 企業名を入力 */
.input_company_name{
width: 300px;
padding: 10px;
}
/* プロジェクト名を入力 */
.input_project_name{
width: 300px;
padding: 10px;
}
/* 入力情報をテーブルに追加 */
.company_and_project_addButton{
background-color:#99ffdd;
width: 100px;
padding: 6px;

}
/* ここまでプロジェクト編集画面 */

/*従業員画面*/
.emp_update_wrapper{
width: 80%;
margin:  1rem auto;
font-size: 1.7rem;
background-color: white;
}

.emp_update_title{
padding: 0.5em 1em;
background-color: #33FFCC;
font-size: 1.5rem
}

.emp_update_wrapper th{
background-color: #33FFCC;
}

.emp_add_item{
font-size: 3px;
color: #876;
}

.emp_add_button {
border: 0.3px solid #333;
background-color: #33FFCC;
}

.emp_delete_table{
margin: 1rem 20%;
}

.emp_delete_row,.emp_add_row{
border:1px solid;
margin: 1em auto;
text-align: center;
}

.emp_delete_col, .emp_add_item{
border:1px solid;
margin: 1em auto;
text-align: center;
}

.emp_update_wrapper table{
border-collapse: collapse;
margin: 1em auto;
text-align: center;
}

.emp_delete_form {
text-align: center;
}

.emp_delete_search{
text-align: center;
height: 2.5em;
width: 30%;
}

.emp_delete_search_button {
height: 2.5em;
width: 10%;
background: #33FFCC;
border: 0.3px solid #333;
}

.emp_delete_button{
border: 0.3px solid #333;
background-color: red;
}
/*従業員画面ここまで*/

